

@import './Componentes/variables.scss';
@import './Componentes/hero.scss';
@import './Componentes/skills.scss';
@import './Componentes/Proyectos.scss';
@import './Componentes/botones.scss';
@import './Componentes/footer.scss';





body {
    background-color: $color-primario;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.icon{
    width: 30px;
    height: 30px;
}













