include globales.pug

footer.footer
     .footer__contacto
         ul
             li 
                a(href= redes[0] target="_blank") Linkedin
             li 
                 a(href= redes[1] target="_blank") Github
     .footer__derechos
         p @Copyright Max Hess 2023