footer.footer
     .footer__contacto
         ul
             li 
                a(href="#") Linkedin
             li
                 a(href="#") Correo
             li 
                 a(href="#") Github
     .footer__derechos
         p @Copyright Max Hess 2022