mixin caja-proyecto(Nombre, img , urlo, condicion, url, clase) 
    .caja__proyecto
        img(src= img)
        
        .caja__proyecto-titulo
            h4.Nombre= Nombre
            a(href=  urlo class = clase disabled= condicion target="_blank") Ver repositorio Git
            a(href= url class = "button-saber" target="_blank") Ver pagina

-var paginasWeb = ["https://cafacorp.com/", "https://maxhess22.github.io/proyectoGoogle-clone/", "https://maxhess22.github.io/MobileFirst-Platzi","https://maxhess22.github.io/proyecto-grid.github.io"]
-var repositorios = ["https://github.com/maxhess22/proyectoGoogle-clone", "https://github.com/maxhess22/proyecto-grid.github.io", "https://github.com/maxhess22/MobileFirst-Platzi"]
-var imagenes = ["./img/cafacorp.png", "./img/pokegrid.png", "./img/batabit.png", "./img/google.png","./img/perfil.jpg", "./img/react.png", "./img/pug.svg"]
-var redes= ["https://www.linkedin.com/in/max-felipe-hess-alvarez-37414b1bb/", "https://github.com/maxhess22"]


