mixin caja-proyecto(Nombre, img , urlo, condicion, url, clase) 
    .caja__proyecto
        .caja__proyecto-titulo
            h2.Nombre= Nombre
        img(src= img)
        a(href=  urlo class = clase disabled= condicion target="_blank") Ver repositorio git
        a(href= url class = "button-saber" target="_blank") Ver pagina



mixin boton
    button hola mundo

-var paginasWeb = ["https://cafacorp.com/", "https://maxhess22.github.io/proyectoGoogle-clone/", "https://maxhess22.github.io/MobileFirst-Platzi","https://maxhess22.github.io/proyecto-grid.github.io"]
-var repositorios = ["https://github.com/maxhess22/proyectoGoogle-clone", "https://github.com/maxhess22/proyecto-grid.github.io", "https://github.com/maxhess22/MobileFirst-Platzi"]
-var imagenes = ["../img/cafacorp.png", "../img/pokegrid.png", "../img/batabit.png", "../img/google.png","../img/perfil.jpg", "../img/react.png"]











doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/dist/global.css")
        title Portafolio Hess
    body
        header.hero
            .hero__image
                img(src= imagenes[4], alt="")
            .hero__contenido
                h1 Max Hess
                p  Desarrollador Front End React
            
            
        main.main
            .skills
                h2 Tecnologias
                img(src="../img/html.png", alt="html" title= "html")
                img(src="../img/css.png", alt="")
                img(src="../img/Javascript.png", alt="")
                img(src="../img/sass.png", alt="")
                img(src="../img/git.png", alt="")
                img(src="../img/bootstrap.png", alt="")
                img(src= imagenes[5], alt="")
                img(src="../img/wordpress.png", alt="")
                
                
                
            h2 Proyectos
            .caja   
                
                +caja-proyecto("Google-clone", imagenes[3], repositorios[0], false,paginasWeb[1], "button-saber")
                +caja-proyecto("Pokegrid", imagenes[1], repositorios[1], false,paginasWeb[3], "button-saber")
                +caja-proyecto("Google-clone", imagenes[2], repositorios[2], false,paginasWeb[2], "button-saber")
                +caja-proyecto("CafaCorp", imagenes[0], " ", true, paginasWeb[0], "button-disabled")
    
        footer.footer
            .footer__contacto
                ul
                    li 
                       a(href="#") Linkedin
                    li
                        a(href="#") Correo
                    li 
                        a(href="#") Github
            .footer__derechos
                p @Copyright Max Hess 2022
        