.caja{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 54px;
    &__proyecto{
        display: flex;
        flex-direction: column;
        max-width: 250px;
        background-color: $color-primario-soft;
        justify-content: center;
        position: relative;
        border-radius: 8px;
        h4{
            text-align: center;
            margin: auto;
            width: 100%;
            border-radius: 8px;
            color: white;
        }
        img {
            object-fit: fill;
            border-radius: 8px 8px 0 0 ;
            height: 195px;
        }
        &-titulo {
            display: flex;
            flex-direction: column;
            padding: 16px;
            gap: 16px;
        }
    }
    animation: aparicion  2s;
}