.skills {
    justify-content: center;
    align-items: center;
    gap: 500px;
    width: 100%;
    margin: 32px auto;
    padding: 32px;
    background-color: $color-primario-soft;
    text-align: center;
    img {
        width: 48px;
        height: 48px;
    }
    h2 {
        padding-bottom: 32px ;
    }

}