.skills {

    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 48px auto;
    padding: 32px;
    background-color: $color-primario-soft;
    text-align: center;
    img {
        width: 48px;
        height: 48px;
    }
    h2 {
        padding-bottom: 32px ;
    }
    &-img{
        display: flex;
        gap: 16px;
        justify-content: center;
    }

}