*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 24px;
}

h1,h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: white;
    text-align: center;
}


$color-primario:#172c3f;
$color-secundario:#0a151f;
$color-primario-soft: #4f6378;
$color-boton-blue: royalblue;
$complementario: #321a08;
$color-boton: BlueViolet;


